# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/cache
/.next/dev
/.next/server
/.next/static
/.next/trace*
/.next/types
/.next/diagnostics
/.next/next*
/.next/r*
/.next/p*
/.next/f*
/.next/i*
/.next/e*
/.next/build-*
/.next/a*
/.next/t*
/.next/BUILD_ID

/out/


# Testing
/coverage

# Env Files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem
Thumbs.db