# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next*
/out/
next-env.d.ts

# Testing
/coverage

# Env Files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem
Thumbs.db